.buttonsContainer {
  display: flex;
  justify-content: center;
}

.tab {
  justify-content: center;
}

.tabButton {
  border-radius: 25px;
  padding: 1rem;
  margin: 3rem 0.5rem;
  width: 25%;
  background-color: #ffece4;
  color: #da4c56;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  transition-duration: 1s;
  border: none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tabButton:hover {
  background-color: #fccbb6;
}
